absl-py==2.1.0
aiohttp==3.9.5
aiosignal==1.3.1
aiostream==0.5.2
annotated-types==0.6.0
anyio==4.3.0
appdirs==1.4.4
asttokens==2.4.1
async-timeout==4.0.3
attrs==23.2.0
better-exceptions==0.3.3
Box2D==2.3.2
Box2D-kengz==2.3.3
box2d-py==2.3.8
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
cloudpickle==3.0.0
contourpy==1.2.1
cycler==0.12.1
Cython==0.29.23
decorator==4.4.2
dm-control2gym==0.0.2
dm-env==1.6
dm-tree==0.1.8
dm_control==1.0.18
docker-pycreds==0.4.0
etils==1.7.0
exceptiongroup==1.2.1
executing==2.0.1
Farama-Notifications==0.0.4
fastapi==0.110.2
fasteners==0.19
filelock==3.14.0
fonttools==4.51.0
frozenlist==1.4.1
fsspec==2024.3.1
gitdb==4.0.11
GitPython==3.1.43
glfw==2.7.0
grpcio==1.63.0
grpclib==0.4.7
gym==0.25.0
gym-notices==0.0.8
gymnasium==0.29.1
h2==4.1.0
hpack==4.0.0
hyperframe==6.0.1
idna==3.7
imageio==2.34.1
imageio-ffmpeg==0.4.9
importlib_resources==6.4.0
-e git+https://github.com/seohongpark/METRA.git@e08e76290ca7db7ecd0b4a0752383a17a7a536e4#egg=iod
ipython==8.24.0
jedi==0.19.1
Jinja2==3.1.3
kiwisolver==1.4.5
labmaze==1.0.6
lxml==5.2.1
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.8.4
matplotlib-inline==0.1.7
mdurl==0.1.2
modal==0.62.116
moviepy==1.0.3
mpmath==1.3.0
mujoco==3.1.4
multidict==6.0.5
networkx==3.3
numpy==1.26.4
opencv-python==4.9.0.80
packaging==24.0
pandas==2.2.2
parso==0.8.4
pexpect==4.9.0
pillow==10.3.0
proglog==0.1.10
prompt-toolkit==3.0.43
protobuf==4.25.3
psutil==5.9.8
ptyprocess==0.7.0
pure-eval==0.2.2
pybullet==3.2.6
pycparser==2.22
pydantic==2.7.1
pydantic_core==2.18.2
pyglet==2.0.15
Pygments==2.17.2
PyOpenGL==3.1.7
pyparsing==3.1.2
python-dateutil==2.9.0.post0
pytz==2024.1
PyVirtualDisplay==3.0
PyYAML==6.0.1
requests==2.31.0
rich==13.7.1
scipy==1.13.0
sentry-sdk==2.0.1
setproctitle==1.3.3
shellingham==1.5.4
sigtools==4.0.1
six==1.16.0
smmap==5.0.1
sniffio==1.3.1
stable_baselines3==2.3.2
stack-data==0.6.3
starlette==0.37.2
swig==4.2.1
sympy==1.12
synchronicity==0.6.7
tabulate==0.9.0
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorboardX==2.6.2.2
toml==0.10.2
torch==2.3.0
tqdm==4.66.3
traitlets==5.14.3
typer==0.12.3
types-certifi==2021.10.8.3
types-toml==0.10.8.20240310
typing_extensions==4.11.0
tzdata==2024.1
urllib3==2.2.1
wandb==0.16.6
watchfiles==0.21.0
wcwidth==0.2.13
Werkzeug==3.0.2
yarl==1.9.4
zipp==3.18.1
